{% extends 'tienda_online/layout.html' %} {% block body %}
<div class="container bg-light pb-2 fs-6 fw-light">
  <h2 class="text-center">Acerca de Jaguarete:</h2>
  <h4>Nuestra Historia</h4>
  <p>
    La compañia tiene sus inicios en el año 2017 con la creacion de la empresa,
    se inicio solamente con una surcursal pero durante el año 2020 tuvo un
    desarrollo acelerado lo cual permitio la creacion de mas tiendas en
    diferentes ciudades.
  </p>
  <p>
    En sus inicios fue una tienda enfocada en distintos productos tecnologicos
    pero durante el tiempo se enfoca en computadoras y sus accesorios, la tienda
    ofrece varios servicios como lo son compras en linea asi tambien la opcion
    de entregas a domicilio y recogerlo en tienda.
  </p>

  <h4>Nuestro Equipo</h4>
  <p>
    Nuestro personal de servicio al cliente esta capacitado para dar la
    informacion del producto y tambien para responder dudas tecnicas sobre
    cualquier duda que tenga al respecto
  </p>

  <h4>Misión.</h4>
  <p>
    Ofrecer al cliente una bodega abastecida de productos tecnológicos a precios
    competitivos con la mejor calidad, servicio y garantía.
  </p>
  <h4>Visión</h4>
  <p>
    Establecer a Computer Depot en el mercado guatemalteco como la mejor opcion
    en compra de equipo de Computo nuevo y reacondicionado.
  </p>
  <h4>Valores</h4>
  <ul>
    <li>
      Calidad. Trabajar con excelencia para superar toda expectativa de nuestros
      clientes.
    </li>
    <li>
      Innovación. Crear y mejorar procesos internos en la Empresa con el fin de
      que sea proyectado a nuestros clientes y brindarles la mejor tecnología.
    </li>
    <li>
      Compromiso. Asegurar un servicio de calidad para que el cliente esté
      satisfecho con la atención y seguimiento brindado. Integridad. Superar
      toda expectativa en cuanto a actitudes personales de cada colaborador.
    </li>

    <li>
      Comunicación. Mantener una cultura de confianza y comunicación descendente
      y ascendente dentro de la Empresa. Amistad. Crear relaciones redituares
      con el cliente y los colaboradores facilitando todo lo que necesite para
      la satisfacción de sus requerimientos.
    </li>
  </ul>
</div>
{% endblock %}
