{% extends 'tienda_online/layout.html' %} {% block body %}

<!-- nota -->
<div class="row">
{% for producto in productos %}
<div class="d-lg-none"> {{ forloop.counter }} </div>
{%if forloop.counter <= 10 %}
{%if forloop.counter <= 3 %}
<div class="card col-lg-4" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Ultimo Producto</h5>
    <p class="card-text">
      {{ producto.titulo }}. Precio ${{ producto.precio }}.
      </p>
  </div>
  <img src="{{ producto.image.url }}" class="card-img-top" alt="producto" />
  <a href="  {{ producto.pk }} " class="btn btn-primary">Ver</a>
</div>
{% else %}
<div class="text-center mt-4"> 
{% cycle '<h4>Mas Productos</h4>' '' '' '' '' '' '' %}
</div>
<div class="my-3 col-lg-12">
{{ producto.titulo }}. Precio ${{ producto.precio }}<a href="{{ producto.pk }} "> Ver...</a>
</div>
{% endif %}
{% endif %}
{% endfor %} {% endblock %}
</div>

